{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/auctions">List my auctions</a>
    </div>

    <form class="auctions-form" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" required class="form-control"
                   value="{{ auction.title }}">
        </div>

        <div class="form-group">
            <label for="description">Description: </label>
            <textarea id="description" name="description" required class="form-control" rows="10">{{ auction.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="starting_price">Starting price: </label>
            <input type="number" id="starting_price" name="starting_price" required class="form-control"
                   min="0.01" step="0.01" value="{{ auction.starting_price }}">
        </div>

        <div class="form-group">
            <label for="starts_at">Starts at: </label>
            <input type="datetime-local" id="starts_at" name="starts_at" required class="form-control"
                   value="{{ auction.starts_at }}">
        </div>

        <div class="form-group">
            <label for="ends_at">Ends at: </label>
            <input type="datetime-local" id="ends_at" name="ends_at" required class="form-control"
                   value="{{ auction.ends_at }}">
        </div>

        <div class="form-group">
            <label for="category_id">Auction category: </label>
            <select class="form-control" name="category_id" id="category_id">
                {% for category in categories %}
                <option value="{{ category.category_id }}" {% if auction.category_id == category.category_id %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="image">Image: </label>
            <input type="file" id="image" name="image" class="form-control" accept="image/jpeg, image/png">
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
                Edit auction
            </button>
        </div>

        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>

    <script>
        function validateForm() {
            let status = true;

            document.querySelector('#error-message').classList.add('d-none');
            document.querySelector('#error-message').innerHTML = '';

            const title = document.querySelector('#title').value;
            if (!title.match(/.*[^\s]{3,}.*/)) {
                document.querySelector('#error-message').innerHTML += 'The title must contain at least three visible characters...<br>';
                document.querySelector('#error-message').classList.remove('d-none');
                status = false;
            }

            const description = document.querySelector('#description').value;
            if (!description.match(/.*[^\s]{7,}.*/)) {
                document.querySelector('#error-message').innerHTML += 'The description must contain at least seven visible characters...<br>';
                document.querySelector('#error-message').classList.remove('d-none');
                status = false;
            }

            return status;
        }
    </script>
</div>
{% endblock %}
