{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/auctions">List my auctions</a>
    </div>

    <p>{{ message }}</p>
</div>
{% endblock %}
