.main-menu {
    margin-bottom: 20px;
}

.social-icons {
    margin-bottom: 10px;
    margin-top: 10px;
}

.social-icons a i.fa {
    display: inline-block;
    color: #dc0004;
    font-size: 18pt;
    margin: 5px;
}

.category {
    padding: 30px 0px;
}

.bookmark-card {
    margin: 10px 0;
}

.auction {
    margin-bottom: 15px;
}

.width-100-percent { width: 100%; }
