{% extends "_global/index.html" %}

{% block main %}
    <ul>
        {% for auction in auctions %}
        <li class="auction row">
            <div class="col-12 col-md-2">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    <img src="{{ BASE }}assets/uploads/{{ auction.image_path }}"
                         alt="Velika slika - {{ auction.auction_id }}" class="width-100-percent">
                </a>
            </div>

            <div class="col-12 col-md-10">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    {{ auction.title|escape }}
                </a>

                <div class="row">
                    <span class="col-6 col-md-4">{{ auction.starts_at|escape }}</span>
                    <span class="col-6 col-md-4">{{ auction.ends_at|escape }}</span>
                    <span class="col-12 col-md-4">{{ auction.last_offer_price|escape }} &euro;</span>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}