{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ auction.auction_id }});">Add to bookmark</a>
    <h1>{{ auction.title|escape }}</h1>
    <p>{{ auction.description }}</p>
    <p>Trenutna cena: <span id="current_auction_price">{{ lastOfferPrice }}</span> EUR
        {% if showBidForm == true %}
        <div class="form-group">
            <input type="hidden" id="auction_id" value="{{ auction.auction_id }}">
            <input type="number" min="{{ lastOfferPrice + 2.0 }}" step="0.01"
                   value="{{ lastOfferPrice + 2.0 }}" id="offer_price" class="form-control">
            <button type="button" onclick="actionBid();" class="btn btn-primary">
                <i class="fa fa-money"></i> Licitiraj
            </button>
        </div>
        {% endif %}
    </p>
    <p>Datum pocetka: {{ auction.starts_at|date('j. n. Y.') }}</p>
    <p>Datum isteka: {{ auction.ends_at|date('j. n. Y.') }}</p>
    <div id="message"></div>

    <script>
        function actionBid() {
            const auctionId  = document.querySelector('#auction_id').value;
            const offerPrice = document.querySelector('#offer_price').value;

            addOffer(auctionId, offerPrice, updatePriceOnPage, showErrorMessage);
        }

        function updatePriceOnPage(newPrice) {
            document.querySelector('#current_auction_price').innerHTML = newPrice;
            showMessage('Nova ponuda je uspesno dodata!');
        }

        function showErrorMessage(errorCode) {
            switch (errorCode) {
                case -10001 : showMessage('Niste prijavljeni!'); break;
                case -10002 : showMessage('Ne mozete da licitirate na svojoj aukciji!'); break;
                case -20001 : showMessage('Aukcija ne postoji!'); break;
                case -20002 : showMessage('Aukcija nije aktivna!'); break;
                case -20003 : showMessage('Aukcija se zavrsila!'); break;
                case -20004 : showMessage('Aukcija nije pocela!'); break;
                case -20005 : showMessage('Cena nije ispravna!'); break;
                case -20006 : showMessage('Greska prilikom dodavanja ponude!'); break;
                default: showMessage('Nepoznata greska!'); break;
            }
        }

        function showMessage(message) {
            document.querySelector('#message').innerHTML = message;

            setTimeout(function(){
                document.querySelector('#message').innerHTML = '';
            }, 5000);
        }
    </script>
{% endblock %}

{% block naslov %}
{{ auction.title|escape }}
{% endblock %}